/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/**
 * As per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=alpha` to a `h3`; a double-stranded
 * heading hierarchy.
 */
h1
  font-size()
    return h1-size
h2
  font-size()
    return h2-size
h3
  font-size()
    return h3-size
h4
  font-size()
    return h4-size
h5
  font-size()
    return h5-size
h6
  font-size()
    return h6-size


/**
 * Heading groups and generic any-heading class.
 * To target any heading of any level simply apply a class of `.hN`, e.g.:
 *
   <hgroup>
       <h1 class=hN>inuit.css</h1>
       <h2 class=hN>Best. Framework. Ever!</h2>
   </hgroup>
 *
 */
.hN{
}
hgroup .hN{
    margin-bottom:0;
}


/**
 * A series of classes for setting massive type; for use in heroes, mastheads,
 * promos, etc.
 */

.giga
  font-size()
    return giga-size
.mega
  font-size()
    return mega-size
.kilo
  font-size()
    return kilo-size
