//------------------------------------
//    $MAIN
//------------------------------------
//
html
    mixin-font((base-font-size/16em)/line-height-ratio base-font-family)
    overflow-y scroll
    min-height 100%