//------------------------------------
//    SMALLPRINT
//------------------------------------
//
/**
 * A series of classes for setting tiny type; for use in smallprint etc.
 */
.smallprint,
.milli
    milli
      font-size()
        return milli-size
.micro
    micro
      font-size()
        return micro-size